*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 158, 161);
}

.row{
    padding:16px 32px;
    background-color: white;
    min-height: 360px;
    border-radius: 8px;
    box-shadow: 0 2px 4px purple;
}
.row .first{
    margin-bottom: 16px;
}
.row .first button{
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    border-radius: 50%;
    background-color: green;
}
.row .second{
    min-height: 320px;
}
.done-todo{
    display: flex;
    justify-content: space-between;
}
button {
    cursor: pointer;
    border: 1px;
    outline: rgb(177, 167, 81);
    background-color: red;
}
button:hover{
    background-color: rgb(72, 218, 218);
}